@media (max-width: 1240px){
    .team__item--4 {
        bottom: 200px;
    }
}

@media (max-width: 1174px){
    .slider__item-img {
        width: 100%;
        height: 250px;
    }
    .slider {
        margin: 0;
    }
    .slider__item {
        padding: 10px;
    }
}

@media (max-width: 992px){
    .header__inner {
        flex-wrap: wrap;
        height: auto;
        padding-top: 25px;
    }
    .menu {
        order: 1;
        width: 100%;
    }
    .menu__list {
        justify-content: flex-end;
        padding-top: 30px;
    }
    .top__inner {
        background-image: none;
    }
    .tools__items {
        flex-wrap: wrap;
    }
    .tools__item {
        width: 50%;
        margin-bottom: 30px;
        padding-right: 10px;
    }
    .about-us__item-img {
        width: 40%;
    }


}

@media (max-width: 900px){
    .team__item--3 {
        bottom: 148px;
    }
}

@media (max-width: 860px) {
    .about-us__item-img {
        width: 80%;
        margin: 0 auto 30px;
        order: -1;
    }
    .about-us__item {
        flex-wrap: wrap;
    }
    .about-us__item-content {
        max-width: 100%;
    }

    .footer__inner {
        flex-wrap: wrap;
    }
    .footer__form {
        width: 100%;
        margin-top: 25px;
    }
}

@media (max-width: 845px){
    .team__item--5 {
        bottom: 55px;
        right: 253px;
    }
    .team__item--4 {
        bottom: 178px;
    }    
}

@media (max-width: 768px) {
    .top__inner,
    .about-us,
    .blog {
        padding: 80px 0 60px;
    }
    .tools {
        padding-top: 80px;
    }
    .tools__inner {
        padding-bottom: 60px;
    }
}

@media (max-width: 700px){
    .team__item {
        display: none;
    }
    .team__inner {
        padding: 80px 0;
    }
}

@media (max-width: 524px) {
    .header__inner {
        display: block;
    }
    .menu__list {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #fff;
        text-align: center;
        transition: all .3s;
        transform: translateY(-300%);
    }

    .menu__list.menu__list--active {
        transform: translateY(0%);
        transition: all .3s;
    }

    .menu__list-link {
        display: block;
        padding: 10px 0;
    }

    .menu__btn {
        display: flex;
        position: absolute;
        right: 10px;
        top: 25px;
    }

    .user-nav {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding-top: 30px;
    }

    .menu__list-item + .menu__list-item  {
        margin-left: 0;
    }
    .top__title {
        font-size: 28px;
        line-height: 32px;
    }
    .top__btn {
        margin-bottom: 25px;
    }
    .tools__item {
        width: 100%;
    }
    .tools__title,
    .about-us__item-title,
    .team__title,
    .blog__title {
        font-size: 24px;
        line-height: 30px;
    }
    .about-us__item {
        margin-bottom: 40px;
    }

    .slider__item{
        padding: 0;
    }

    .footer .logo {
        width: 100%;
        margin-bottom: 25px;
    }
    .footer__inner {
        justify-content: space-around;
    }
}